/********************************************

	Styles to be added to energy.gov in order
	to allow it to look however you want it.
	Reminder: make it responsive

********************************************/

.container_master {
	font-family: 'Avenir LT W02 35 Light', verdana, sans-serif;
	height: 100%;
	position: relative;
	text-transform: none !important;
	width: 100%;
}

/*+++++++++++++++++++++++++++
D3 charts
++++++++++++++++++++++++++++++++++++++*/

.container_chart {
	height: 100%;
	min-height: 60%;
	width: 100%;
}

svg {
	height: 100%;
	min-height: 300px;
	min-width: 800px;
}

path {
	fill: none;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.chart-title {
	font-size: 14px;
	/*text-anchor: middle;*/
	/*text-decoration: underline;*/
}

.domain {
	stroke: none;
}

.line-blue {
	stroke: steelblue;
}

.line-green {
	stroke: darkgreen;
}

/*+++++++++++++++++++++++++++
Map
++++++++++++++++++++++++++++++++++++++*/

#map {
	position: absolute;
	top: 0;
	height: 500px;
	width: 100%;
}