/********************************************

	Styles to be added to energy.gov in order
	to allow it to look however you want it.
	Reminder: make it responsive

********************************************/

.container_master {
	font-family: 'Avenir LT W02 35 Light', verdana, sans-serif;
	height: 100%;
	position: relative;
	text-transform: none !important;
	width: 100%;
}

/*+++++++++++++++++++++++++++
D3 charts
++++++++++++++++++++++++++++++++++++++*/

.container_chart {
	height: 100%;
	min-height: 60%;
	width: 100%;
}

svg {
	height: 100%;
	min-height: 300px;
	min-width: 800px;
}

path {
	fill: none;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.domain {
	stroke: none;
}

.titles_chart-main {
	font-size: 1.2em;
	/*text-anchor: middle;*/
	/*text-decoration: underline;*/
}

.titles_axis-y {
	fill: black;
	font-size: 1em;
	text-anchor: middle;
}

.tooltip {
	background-color: white;
	color: black;
	height: 100%;
	max-height: 3em;
	max-width: 6em;
	padding: 0.5em .05em .05em;
	position: absolute;
	text-align: center;
	visibility: hidden;
	width: 100%;
	z-index: 1000;
}

.tooltip p {
	line-height: 0.9;
	margin-bottom: 0;
}

.tooltip_title {
	/*fill: black;*/
	font-weight: bold;
	font-size: 0.70em;
	/*text-anchor: middle;*/
}

.tooltip_data {
	display: block;
	font-weight: 500;
	font-size: 0.65em;
	margin-top: .5em;
	/*text-anchor: middle;*/
}

.line {
	opacity: 0.8;
	stroke-width: 3;
}

.line-label {
	font-size: .85em;
	margin-bottom: .02em;
}

.dot {
	visibility: hidden;
	stroke: #fff;
}

.dot--visible {
	visibility: visible;
}

.voronoi_cells {
	pointer-events: all;
	stroke: none;
	/*stroke-width: 0.5;
	stroke: red;*/
}

/*+++++++++++++++++++++++++++
Map
++++++++++++++++++++++++++++++++++++++*/

#map {
	position: absolute;
	top: 0;
	height: 500px;
	width: 100%;
}